{% extends "todo/base.html"%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        {% block content %}

                
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div class="form2">
            <h2>Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="username">Username</label><br>
                <input type="text" autocomplete="off" name="username"  id="username" placeholder="Enter Username" aria-describedby="usernameHelp"><br><br>

                <label for="password1">Password</label><br>
                <input type="password" name="password1"  id="password1" placeholder="Enter Password"/><br><br>

                <label for="password2">Confirm Password</label><br>
                <input type="password" name="password2" id="password2" placeholder="Enter Password Again"/><br><br>

                <input type="submit" value="Sign Up" /><br><br>
            </form>
           Do you already have an account? <a href="{% url 'loginuser' %}" class="signlog">Login here</a>
        </div>

        {% endblock %}
    </body>
</html>